body {
  font-family: sans-serif;
}

header {
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}
header .logo {
  margin: 0 40px 0 0;
}
header .hambur {
  display: none;
}
header .fechahambur {
  display: none;
}
@media (max-width: 800px) {
  header .hambur {
    display: block;
    width: 70px;
    padding: 10px;
    margin-right: 20px;
    cursor: pointer;
  }
  header .fechahambur {
    display: block;
    width: 40px;
    position: absolute;
    top: 20px;
    cursor: pointer;
  }
  header ul {
    flex-direction: column;
    position: absolute;
    top: 10px;
    left: -70vw;
    z-index: 1;
    background-color: white;
    width: 70vw;
    height: 100vh;
    padding: 120px 50px;
  }
  header ul li {
    opacity: 1 !important;
  }
}
header ul {
  display: flex;
  list-style: none;
  gap: 20px;
  margin-top: 20px;
}
header ul li {
  opacity: 0.5;
  font-weight: bold;
  cursor: pointer;
  border-bottom: transparent solid;
  transition: all 0.5s;
}
header ul li:hover {
  opacity: 1;
  border-bottom: orange solid;
}
header div {
  position: absolute;
  right: 0px;
  top: 10px;
  display: flex;
  align-items: center;
  gap: 30px;
}
header div .cart {
  width: 30px;
  cursor: pointer;
}
header div .iconCart {
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 50%;
  position: absolute;
  margin-left: 15px;
  text-align: center;
  color: white;
}
header div .perfil {
  width: 60px;
  transition: all 0.5s;
  border: solid transparent;
  border-radius: 50%;
  cursor: pointer;
}
header div .perfil:hover {
  border: solid orange;
}
header .modalCart {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border: solid rgba(128, 128, 128, 0.219);
  width: 300px;
  height: auto;
  position: absolute;
  top: 80px;
  right: 10px;
  z-index: 1;
  display: none;
}
@media (max-width: 600px) {
  header .modalCart {
    width: 90vw;
  }
  header .modalCart .prod {
    width: 90%;
  }
}
header .modalCart h1 {
  font-size: 25px;
  font-weight: bold;
}
header .modalCart .prod {
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  grid-template-areas: "img nome nome ." "img preco total del";
  gap: 0px;
}
header .modalCart .prod img:nth-of-type(1) {
  grid-area: img;
  width: 70px;
  border-radius: 10px;
}
header .modalCart .prod img:nth-of-type(2) {
  grid-area: del;
  width: 20px;
}
header .modalCart .prod img:nth-of-type(2):hover {
  filter: brightness(0);
  cursor: pointer;
}
header .modalCart .prod p:nth-of-type(1) {
  grid-area: nome;
  margin: 0;
}
header .modalCart .prod p:nth-of-type(2) {
  grid-area: preco;
  margin: 0;
}
header .modalCart .prod span {
  grid-area: total;
}
header .modalCart .prod p {
  font-weight: bold;
  opacity: 0.5;
  text-align: center;
}
header .modalCart .prod span {
  font-weight: bold;
}
header .modalCart button {
  border: none;
  background-color: orange;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
  color: white;
}

main {
  margin-bottom: 100px;
}

.left {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.left .thumb {
  width: 35vw;
  height: 30vw;
  border-radius: 20px;
  cursor: pointer;
}
.left img {
  width: 90px;
  border-radius: 10px;
  cursor: pointer;
}
.left .prev, .left .next {
  display: none;
}
@media (max-width: 800px) {
  .left {
    flex-wrap: nowrap;
    position: relative;
  }
  .left .thumb {
    display: none;
  }
  .left img {
    width: 90vw;
    height: 50vh;
  }
  .left img:nth-of-type(3) {
    display: none;
  }
  .left img:nth-of-type(4) {
    display: none;
  }
  .left img:nth-of-type(5) {
    display: none;
  }
  .left .prev, .left .next {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
  }
  .left .prev {
    left: 30px;
  }
  .left .next {
    right: 30px;
  }
}
.left .modalCarr {
  position: absolute;
  left: 35%;
  top: 50px;
  z-index: 1;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 100vw rgba(0, 0, 0, 0.507);
  display: none;
}
.left .modalCarr img {
  cursor: default;
}
.left .modalCarr .imgBig {
  display: flex;
  width: 410px;
  overflow: hidden;
}
.left .modalCarr .imgSmall {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}
.left .modalCarr .prev, .left .modalCarr .next {
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: white;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}
.left .modalCarr .next {
  top: 30%;
  right: -20px;
}
.left .modalCarr .prev {
  top: 30%;
  left: -20px;
}
.left .modalCarr .fechaCarr {
  position: absolute;
  top: -40px;
  right: 0px;
  padding: 10px;
  color: white;
  cursor: pointer;
}

.right {
  font-weight: bold;
  padding: 30px;
}
.right span {
  color: orange;
}
.right h1 {
  font-weight: bold;
  font-size: 45px;
  margin: 10px 0;
}
.right p {
  margin: 20px 0;
  opacity: 0.5;
}
.right .ticket {
  display: grid;
  grid-template-columns: auto auto;
  width: 30%;
  align-items: center;
  position: relative;
}
.right .ticket .preco {
  opacity: 1;
  font-size: 30px;
}
.right .ticket .discount {
  color: rgb(255, 126, 27);
}
.right .ticket .antigo {
  text-decoration: line-through;
  margin-top: -15px;
}
@media (max-width: 800px) {
  .right .ticket {
    width: 100%;
    justify-content: flex-start;
  }
  .right .ticket .antigo {
    position: absolute;
    right: 30px;
    top: 40px;
  }
}
.right .quant {
  display: flex;
  align-items: center;
  gap: 50px;
  justify-content: space-around;
}
.right .quant p {
  margin-top: 15px;
}
.right .quant img {
  width: 20px;
  padding: 5px;
  cursor: pointer;
}
.right button {
  border-radius: 10px;
  border: none;
  background-color: rgb(245, 160, 3);
  color: white;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  cursor: pointer;
}
.right button img {
  filter: brightness(100);
}/*# sourceMappingURL=style.css.map */